:root
{
    --PRIMARY: #084A9C;
    padding: 0%;
    margin: 0%;
}

div.NAV_BAR
{
    color: var(--PRIMARY);
    width: 100%;
}

.LOGO_IMAGE
{
    width: 100px;
    height: 100px;
}

h1.TITLE
{
    color: white;
}